#ponerWid{
    width: 15vw;
    height: 20vh;
    margin-left: 0.5vw;
    background-size: cover;
    box-shadow: 0vw 0vw 2vw 0vw #474747a8;
    border-radius: 0vw 0.7vw 0vw 0.7vw;
}

#activities{
    border-top: 1px solid #ffffff;
    margin:1vh 2vw 0vh 2vw;
    padding: 5vh 1vw;
    height: 40vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#nameAct{
 font-weight: bolder;
 font-size: 1.2vw;
 margin-bottom: 0.5vh;
}
#description{
    font-size: 0.9vw;  
}
#padreDescription{
    width: 60%;
    margin-right: 0.5vw;
    
}
#activitiesItem .carousel-control-prev-icon{
   margin-left:-4vw;
   margin-top: -1vw;
   background-size: 60%!important;
}
#activitiesItem .carousel-control-next-icon{
    margin-right:-4vw; 
    margin-top: -1vw;
    background-size: 60%!important;
}
@media only screen and (max-width: 800px){
    #ponerWid{
        width: 20vw;
        height: 15vh;
        background-size: cover;
    }
    #activities{
        display: flex;
        flex-direction: column;
        align-items: center;
        height: none;
    }
    #padreDescription{
        width: 90%;
    }
    #nameAct{
        font-weight: bolder;
        font-size: 2vw;
        margin-top: 2vh;
        margin-bottom: 0.5vh;
        text-align: center;
       }
       #description{
           text-align: center;
           font-size: 1.3vw;
       }
       #activitiesItem .carousel-control-prev-icon{
        margin-left:-2vw;
       margin-top: -1vw;
       background-size: 50%!important;
    }
    #activitiesItem .carousel-control-next-icon{
        margin-right:-2vw; 
        margin-top: -1vw;
        background-size: 50%!important;
    }
       
}
