*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    
}

body{
    height: 100%;
}
#fondos img{

    width: 100%;
    box-shadow: 0vw 0vw 2vw 0vw #acaaaacc;
}


h3#mas{
    text-align: center;
    font-weight: bolder;
    padding-top: 5vh;
    font-size: 100%;
   
}
#masTodo{
    height: 42%;

}
p#textos{
    display: none;
}

#arrow {
  width: 14vw;
  padding: 2vw;
  margin-left: -1.7vw;
}
#boton{
    margin-left: 45vw;
    background: none;
    border: none;
}
#diivDos{
    height: 12vh;
}

@media only screen and (max-width: 800px){
    #diivDos{
        display:none;
    }
    #arrow {
        width: 19vw;
        padding: 2vw; 
      }
      #boton{
        margin-left: 32vw;
        background: none;
        border: none;
        margin-top:-2%;
    }
    #fondos{
        display: none;
    }
    p#textos{
        text-align: center;
        color: #536786;
        display: block;
        font-size: 2.5vw;
        font-weight: bold;
        background-color: #a7b4c98c;
        margin: 20% 9% 0% 7%
    }
    span#spann{
        font-weight: normal; 
        font-style: italic;
        color: #92a6c4;
    }
    #masTodo{
        height: 22vh;
    
    }
}



#arrow:hover{
 
    padding: 1.2vw;
}


p#texto{
    text-align: center;
    color: #7c9fd4;
}
hr{
 margin: 0vh 30vw;
}