#todo{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #ededed;
    box-shadow: 0VW 0VW 2VW 0VW #8f8b8b96;
    
}
.navs:hover{
    color: #000000;
    text-decoration: none; 
}
.navs{
    color: #818080;
    text-decoration: none;
    padding: 1vw;
}
.navsa:hover{
    color: #000000;
    text-decoration: none; 
}
.navsa{
    color: #818080;
    text-decoration: none;
}
.active{
    color: #000000;
}

@media only screen and (max-width: 800px) {
 #todo img{
       width: 8vw;
       margin-top: 2vh;
      
}
#hamburguesa{
    background-color:#ededed;
    border: none;
    margin-right: 6vw;
    margin-top: 1vh;
}
#hamburguesa img{
    width: 6vw;
   
    
}
#hola{
    text-decoration: none;
}

img#titulo{
    width: 39vw;
    margin:1vw;
    margin-left: 5vw;
}
#menu{
    display: none;
   }
#drop{
       margin-right: 95px;
       margin-top: 9px;
   }
.navs{
    margin-left: 10vw!important;
}

}

@media only screen and (min-width: 801px){
.nav{
    display: none;
}
    
#menu{
    display: flex;
    flex-direction: row;
    padding-right: 3vw;
}
#todo img{
    width: 5vw;
      
}
img#titulo{
    width: 19vw;
    margin:1vw;
       
    
}
#todo{
    position: fixed;
    z-index: 100;
    width: 100%;
}
}

#back{
    background-color:#ededed;
    border: none;
    margin-left: 5vw;
}








