#fondoIt{
    height: 40vh;
    overflow: hidden;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    box-shadow: 0vw 0vw 2vw 0vw #9494949a;

}



#textosIt{ 
   margin-top: 17vh;
   position: relative;

}
#textosIt p{
    background-color: #5f5e5e8a;
    text-align: center;
    color: #ffffff;
    font-weight: bold;
    font-size: 2vw;
}

span{
color: #dfdfdfda;
font-weight: normal;
font-size: 1.5vw;
}
#itinerario{
    display: flex;
    flex-direction: column;
    background-color: #526e8546;
    box-shadow: 0vw 0vw 2vw 0vw #5f5e5e4b;
    margin: 6vh 25vw;
    border-radius: 0.5vh 1.5vw 0.5vh 1.5vw;
}
#itinerarios{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 5%;

}


#imagen{
    width: 10vw;
    height: 10vw;
    border-radius: 100%;
    margin: 4% 5%;
    border: 4px solid #979797d7;
    box-shadow: 0vw 0vw 0.5vw 0vw #5f5e5e80;
    background-size: cover;
    background-position: center;
}


p#titulo{
    font-weight: bold;
    font-size: 2vw;
}



#primerP{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

}
#heart{
    width: 2.9vw;
    padding: 0.5vw;

}
#hearts{
    width: 6vw;
    height: 0.5vh;
}
#heart:hover{
    cursor: pointer;
   padding: 0.2vw;
}


.bill{
    width: 2.5vw;
    padding:0.1vw;
    padding-bottom: 0.5vh;


}
#billetePadre{
    display: flex;
    flex-direction: row;
}

.ratings{
    font-weight: bold;
    font-size: 1.3vw;
    text-align: center;
}

#hash{
    display: inline;
    margin: 0.5vw;
    color: #2f4d4e;
    font-weight: lighter;
    font-size: 1.5vw;
}

#todosLosP{
    margin-left: 1vw;
}

h2{
    text-align: center;
    color: #526e85;
    margin-top: 5vh;
}
#TineraryPadre{
    display: flex;
    justify-content: center;
}
#noTinerary{
    width: 30vw;
    margin-bottom:20vh;
}
#MiBack{
    height: 20vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 12vh;
    margin-bottom: -7vh;

}
#goBack img{
    width: 9vw;
    padding: 1vw;


}
#Back{
    width: 10vw;
}
#goBack img:hover{
   padding: 0.5vw;

}
#menuHome img{
    width: 9vw;
    padding: 1vw;
    margin-left: -1vw;
}
#menuHome img:hover{
    padding: 0.5vw;
}
#goHome{
    width: 10vw;
}

#botons button{
    border-radius: 0vw 1.5vw 0vw 1.5vw;
    padding: 0.5vw;
    color: #ffffff;
    height: 4%;
    margin-top: 3vh;
    background-color: #5f9ea04d;
    font-weight: bold;
    border:none;
    font-size: small;

}
#botons button:hover{
    color: #000000;
    background-color: #90d6d84d;
    box-shadow: 0vw 0vw 0.5vw 0vw #5f5e5e80;
}
#loading{
    margin:35vh 45vw 35vh 45vw;
    width: 5vw;
}

@media only screen and (max-width: 800px){
    #itinerario{
        display: flex;
        flex-direction: column;
        background-color: #526e8546;
        box-shadow: 0vw 0vw 2vw 0vw #5f5e5e4b;
        margin: 6vh 20vw 6vh 21vw;
        width: 55vw;
        border-radius: 0.5vh 2vw 0.5vh 2vw;
    }
    #itinerarios{
        display: flex;
        flex-direction: column;
        align-items: center;
    
    }
    #todosLosP{
        margin-left: 2vw;
        margin-right: 2vw;

    }
    p#titulo{
        font-weight: bold;
        font-size: 3vw;
        margin-bottom: 1vh;
    }
    #hash{
        display: inline;
        margin: 0vh 0.5vw 0.5vh 0.5vw;
        color: #2f4d4e;
        font-weight: lighter;
        font-size: 2.4vw;

    }
    #imagen{
        width: 20vw;
        height: 20vw;
        border-radius: 100%;
        margin: 4% 3%;
        border: 4px solid #979797d7;
        box-shadow: 0vw 0vw 0.5vw 0vw #5f5e5e80;
        background-size: cover;
        background-position: center;
    }
    .ratings{
        font-weight: bold;
        font-size: 2vw;
    }
    #primerP{
        display:flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        margin-left: 0vw;
        margin-right: 0vw;
    }
    
    #textosIt p{
        background-color: #5f5e5e8a;
        text-align: center;
        color: #ffffff;
        font-weight: bold;
        font-size: 2.5vw;
    }
    
    span{
    color: #dfdfdfee;
    font-weight: normal;
    font-size: 2vw;
    }

    #goBack img{
        width: 13vw;
        padding: 1vw;
    }
    
    #goBack img:hover{
       padding: 0.5vw;
    }
    #menuHome img{
        width: 13vw;
        padding: 1vw;
        margin-left: 3vw;
    }
    #menuHome img:hover{
        padding: 0.5vw;
    }
    #MiBack{
        height: 15vh;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 12vh;
        margin-bottom: -5vh;
       margin-right: 10vw;
    }
    #heart{
        width: 3.5vw;
        padding: 0.2;
        padding-bottom: 0.5vh;
    }
    #hearts{
        width: 8vw;
        height: 0.8vh;
    }
    #heart:hover{
        cursor: pointer;
        padding: 0.1;
    }
    .bill{
        width: 3.5vw;
        padding:0.1vw;
        padding-bottom: 1vh;
    
    
    }
    #billetePadre{
        display: flex;
        flex-direction: row;
    }
    #botons button{
        border-radius: 0vw 2vw 0vw 2vw;
    }
    #loading{
        margin:35vh 45vw 35vh 45vw;
        width: 8vw;
    }
}
@media only screen and (max-width: 500px){
    #heart{
        width: 3.5vw;
        padding: 0.2;
        padding-bottom: 1.5vh;
    } 
}




